@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&family=Rubik:wght@400;500;700&display=swap");

/* Defining global css variables */
:root {
  /* Color pallete  */
  --main-col: hsl(198, 52%, 37%);
  --bg-col: hsl(41, 100%, 97%);
  --sec-col: hsl(193, 47%, 44%);
  --comp-red-col: hsl(5, 62%, 51%);
  --comp-highlight-col: hsl(29, 74%, 74%);
  --box-shadow: hsla(0, 0%, 0%, 0.1);
  --dark-white: hsl(0, 0%, 94%);
}

/* Media query for dark mode   */
@media(prefers-color-scheme:dark)  {
  :root {
    /* Color pallete  */
    --main-col: hsl(198, 52%, 37%);
    --bg-col: hsl(0, 0%, 7%);
    --sec-col: hsl(193, 47%, 44%);
    --comp-red-col: hsl(5, 62%, 51%);
    --comp-highlight-col: hsl(29, 74%, 74%);
    --box-shadow: hsla(0, 0%, 93%, 0.1);
    /* --font-col: hsl(0, 0%, 89%); */

  }
  p, 
  h1, 
  h2, 
  footer, 
  nav a{
    color: var(--font-col);

  }

}
/* Dark mode styling  */

/* Basic reset  */
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Display', serif;

}


/* Styling on background and default  */
body {
  font-size: 1.8vw;
  background-color: var(--bg-col);
}
/* Default styling on all sections  */
section {
  padding: 1em;
}

/* Heading styles  */
h1 {
  font-size: 5vw;
  margin: 0.25em;
  text-align: center;
}

h2 {
  padding: 0.5em;
  font-size: 2.5vw;
  text-transform: capitalize;
}
/* Font styling on basic text  */
p {
  font-size: 1.8vw;
  font-weight: bold;
  margin-bottom: 1em;
}
nav {
  background-color: var(--main-col);
  width: 100%;
}
/* List styling  */
nav ul { 
  list-style: none;
  /* margin: 0;
  padding: 0; */
}
/* Styling list objects  */
nav li {
  font-family: Arial, Helvetica, sans-serif;

  display: inline-block;
  margin: 1em 3em; 
  padding: 1em;
  border-radius: 10px;
  transition: color, background-color 0.5s ease-in-out;
}
/* Styling actual links  */
nav a {
  text-decoration: none;
  color: var(--bg-col);
  transition: color, background-color 0.5s ease-in-out;
}
/* Transition behaviour  */
nav li:hover {
  
  background-color: var(--sec-col);
}
nav li:hover a {
  text-decoration: underline;
}

/* All code for footer  */
footer {
  background-color: var(--sec-col); 
  padding: 2em;
  margin: 1.5em 0;
  margin-bottom: 0; 
  color: var(--bg-col);
  border-top: 1px solid var(--main-col); 
  text-align: center; 
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

footer li {
  list-style: none; 
  margin: 0.5em; 
  transition: color 0.3s ease;
  padding: 1em;
}

footer li:hover {
  /* color: black; */
  background-color: var(--main-col); /* Change color on hover */
}

footer h2 {
  margin: 0.5em 0; /* Adjusted margin */
  font-size: 1.5em; /* Adjusted font size */
}
