:root {
  /* Color palette */
  --main-col: hsl(198, 52%, 37%);
  --bg-col: hsl(41, 100%, 97%);
  --sec-col: hsl(193, 47%, 44%);
  --comp-red-col: hsl(5, 62%, 51%);
  --comp-highlight-col: hsl(29, 74%, 74%);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --dark-white: #f0f0f0;

}

/* Styled the background for the div with opacity to improve readability */
#bg-img{
  background-image: url("../images/isometric-bakery.PNG");
  height: 600px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 90%;
}
/* Set the positioning for the text that appears on top of the image */
#bg-img-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--bg-col);
  transform: translate(-50%, -50%);  
  background-color: var(--neut-colour-1);
  /* opacity: 0.7; */
}
h1 {
  padding: 0.75em;
  background-color: var(--comp-highlight-col);
  border-radius: 25px;
}
/* The small image next to the h2  */
img + h2  {
  display: inline;
  margin-left: 0;
  padding-left: 0;
}

/* Projects container */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  margin: 1.5em; 
}

/* Individual project items */
#projects figure {
  width: 40%; 
  padding: 0.75em; /* Add inner spacing */
  background-color: var(--dark-white); 
  border-radius: 10px; 
  box-shadow: 0 4px 8px var(--box-shadow);
  transition: transform .2s ease-in-out; /* Animation */

}

/* Content in figures */
#projects img, #projects video {
  width: 100%;
  height: auto;
  border-radius: 5px; 
}

#projects figure:hover{ 
  transform: scale(1.1);
}

#projects img:hover, video:hover {
  opacity: 0.6;
}
/* Simple styling on small sun  */
img:first-of-type{
  width: 2vw;
  height: 2vw;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* Media query for when the screen gets small  */
@media(max-width:600px)  {
  #projects, #intro {
    flex-flow: wrap column;
  }

}

/* Intro section  */
#intro {
  display: flex;
  
}
/* Ensuring all divs are same width  */
#intro div {
  flex: 1;
}

/* Added a sun to the div with an animatable path */
#moving-sun div { 
  font-size: 2.5em; 
  position: relative;
  margin-top: 3em;
  z-index: 1; 
  transition: all 1.8s ease-in-out;
 
} 

/* When box is hovered over, sun moves  */
#moving-sun:hover div {
  transform: rotate(180deg);

}
/* Div that contains sun animation with a gradient */ 
#moving-sun { 
  width: 70%; 
  background-image: linear-gradient(to bottom, #FFD700, #EB9138, #913E24); 
  border: 1px solid black; 

}
